.button {
    width: 250px;
    height: 66px;
    color: #000;
    font-weight: 800;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background: $main-color;
    &__promo {
        background: #5BBFC8;
        width: 214px;
        height: 55px;
    }
    &__subtitle {
        margin-top: 25px;
    }
    &_submit {
        margin-top: 24px;
        margin-bottom: 97px;
    }
    &_mobile {
        background: #17181C;
        color: #fff;
    }
    &_price {
        display: block;
        margin: 68px auto 0;
    }
}