.hamburger {
    /* position: absolute; */
    display: none;
    width: 48px;
    height: 48px;
    background: #17181C;
    border-radius: 5px;
    padding: 13px 12px;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
    span {
        width: 25px;
        height: 2px;
        background: #FFFFFF;
        transition: .5s all;
    }
    &-active {
        position: absolute;
        top: 35px;
        right: 8px;
        span {
            &:nth-child(1) {
                transform: translateY(10px) rotate(45deg);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: translateY(-1px) rotate(-45deg);
            }
        }
    }
}