@media (max-width: 1200px) {
    .container {
        max-width: 890px;
    }
    .promo {
        &__link {
            font-size: 16px;
        }
        &__phone {
            font-size: 18px; 
        }
    }
    .button {
        &__promo {
            width: 171px;
            height: 45px;
        }
    }
    .regal {
        &__info {
            max-height: 385px;
            margin-top: 20px;
        }
        &__list {
            margin-top: 5px;
            font-size: 19px;
        }
        &__form {
            margin-right: 27px;
        }
        &__placeholder {
            margin-top: 15px;
        }
    }
    .advantages {
        padding: 94px 0 60px 0;
        &__wrapper {
            margin-top: 35px;
        }
        &__image {
            img {
                width: 218px;
                height: 300px;
            }
        }
    }
    .mobile-service {
        padding: 80px 0 80px 0;
        min-height: 400px;
    }
    .map {
        padding: 114px 0 64px 0;
        min-height: 470px;
        &__title {
            margin-left: 40px;
        }
        &__zone {
            margin-left: 40px;
        }
    }
    .price {
        &__wrapper {
            width: 730px;
        }
    }
    .partners {
        &__wrapper {
            grid-template-rows: repeat(2,minmax(160px,168px))
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 95%;
    }
    .hamburger {
        display: flex;
        
    }
    .promo {
        &__header {
            &-active {
                z-index: 1000;
                display: flex;
                flex-direction: column;
                position: fixed;
                top: 0;
                left: 0;
                background: #17181C;
                padding: 100px;
                width: 100%;
                min-height: 100vh;
                transition: .5s all;
            }
        }
        &__logo {
            &-active {
                position: absolute;
                width: 175.7px;
                height: 86.1px;
                top: 18px;
                left: 8px;
            }
        }
        &__menu {
            &-active {
                margin-top: 90px;
                flex-direction: column;
                display: flex;
                align-items: center;
                li {
                    margin-bottom: 23px;
                }
            }
        }
        &__link {
            &-active {
                margin-bottom: 8px;
                margin-right: 0;
            }
        }
        &__nav {
            display: none;
            &-active {
                display: flex;
            }
        }
        &__phone {
            display: none;
            &-active {
                margin: 0 auto;
                display: table;
                margin-bottom: 14px;
            }
        }
    }
    .cards {
        &__item {
            padding: 16px 6px 27px 5px;
            &_first {
                padding: 17px 24px 36px 42px;
            }
        }
        &__icon {
            margin-top: 15px;
        }
    }

    .regal {
        &__list {
            font-size: 16px;
        }
        &__placeholder {
            margin-top: 4px;
        }
        &__form {
            margin-right: 0;
            input {
                width: 325px;
                height: 55px;
            }
        }
    }

    .advantages {
        &__image {
            margin-top: 88px;
            img {
                width: 206px;
                height: 281px;
            }
        }
    }

    .works {
        &__wrapper {
            padding: 66px 0px 0 0px;
        }
    }

    .map {
        padding: 33px 0 21px 0;
        min-height: 348px;
    }

    .price {
        padding: 0;
        &__tabs {
            width: 363px;
            margin: 37px auto 0;
            &:before {
                left: -150px;
            }
        }
        &__wrapper {
            width: 95%;
        }
    }

    .feed {
        &__title {
            margin-top: 60px;
        }
    }

    .partners {
        &__title {
            margin-top: 60px;
        }
        &__wrapper {
            margin: 30px auto 0;
            grid-template-columns: repeat(4,minmax(160px,auto));
            grid-template-rows: repeat(3,minmax(160px,auto));
        }
    }

    .footer-top {
        flex-wrap: wrap;
    }
    .button {
        &__promo {
            display: none;
            &-active {
                margin: 0 auto;
                display: block;
            }
        }
        &_submit {
            margin-top: 20px;
            margin-bottom: 17px;
        }
        &_price {
            margin: 35px auto 0;
        }
    }
}

@media (max-width: 768px) {
    .promo {
        &__title {
            font-size: 45px;
            line-height: 55px;
            margin-top: 49px;
            width: 504px;
        }
        &__descr {
            margin-top: 17px;
        }
    }
    .cards {
        flex-wrap: wrap;
        margin-top: 25px;
        &__item {
            margin-top: 5px;
            padding: 16px 44px 27px 3px;        
        }
    }

    .regal {
        &__title {
            font-size: 36px;
        }
        &__subtitle {
            font-size: 15px;
        }
        &__info {
            background: none;
        }
        &__wrapper {
            align-items: center;
        }
        &__list-item {
            &:before {
                width: 3px;
            }
        }
    }
    .advantages {
        padding: 42px 0 60px 0;
        &__title {
            font-size: 36px;
        }
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__list {
            width: 400px;
        }
        &__list-item {
            padding: 0;
            padding-bottom: 10px;
        }
        &__image {
            margin-top: 10px;
        }
    }
    .mobile-service {
        padding: 50px 0 50px 0;
        &__title {
            font-size: 36px;
        }
        &__form {
            margin: 40px auto 0;
            width: 512px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .divider {
        display: none;
    }

    .works {
        &__title {
            font-size: 36px;
            margin-top: 40px;
        }
        &__wrapper {
            flex-direction: column-reverse;
            align-items: center;
            padding: 0;
        }
    }

    .map {
        background: url(../img/map_bgmob.jpg) center center/cover no-repeat;
        padding: 33px 0 0 0;
        &__title {
            font-size: 36px;
        }
        &__zone {
            margin-top: 15px;
            margin-bottom: 10px;
        }
        &__image-mobile {
            img {
                display: block;
            }
        }
    }

    .price {
        &__title {
            font-size: 36px;
            width: 550px;
        }
        &__tabs {
            display: none;
        }
        &__select {
            display: flex;
            align-items: center;
            width: 65%;
            &_descr {
                color: #000000;
                opacity: 0.5;
            }
            &_item {
                display: block;
                margin: 10px auto;
                width: 181px;
                height: 46px;
                background: #E5E5E5;
                border-radius: 5px;
                border: none;
            }
        }
        &__wrapper {
            margin: 15px auto 0;
        }
        &__item {
            padding: 10px 2px;
        }
        &__name {
            font-size: 16px;
        }
        &__cost {
            font-size: 16px;
        }
    }

    .partners {
        &__title {
            font-size: 36px;
        }
        &__wrapper {
            grid-template-columns: repeat(2,minmax(160px,auto));
            grid-template-rows: repeat(5,minmax(160px,auto));
        }
    }


    .button {
        width: 235px;
        height: 50px;
        font-size: 14px;
        &__subtitle {
            margin-top: 20px;
        }
        &_mobile {
            margin-top: 20px;
        }
    }
}

@media (max-width: 576px) {
    .promo {
        &__header {
            &-active {
                padding: 65px 30px 100px
            }
        }
        &__title {
            font-size: 33px;
            line-height: 45px;
            margin-top: 90px;
            width: 319px;
        }
        &__descr {
            font-size: 16px;
            width: 348px;
        }
    }

    .cards {
        flex-direction: column;
        &__item {
            margin-right: 0;
            padding: 13px;
            &_first {
                display: flex;
                flex-direction: column;
            }
        }
        &__title {
            float: left;
            width: 130px;
            &_first {
                font-size: 20px;
            }
        }
        &__icon {
            float: right;
            width: 122px;
            margin-top: 0;
        }
    }

    .regal {
        &__title {
            font-size: 30px;
        }
    }

    .advantages {
        &__list {
            width: 95%;
        }
    }

    .mobile-service {
        &__title {
            font-size: 30px;
        }
        &__form {
            width: 95%;
        }
    }

    .works {
        &__title {
            font-size: 30px;
        }
        &__list {
            font-size: 20px;
        }
    }

    .map {
        &__title {
            font-size: 30px;
            text-align: center;
            line-height: 35px;
            width: 90%;
            margin-left: 0;
            &:before {
                display: none;
            }
        }
    }

    .price {
        &__title {
            font-size: 30px;
            width: 95%;
            line-height: 45px;
            margin: 70px auto 0;
        }
        &__wrapper {
            width: 100%;
        }
        &__name {
            font-size: 15px;
        }
        &__cost {
            font-size: 15px;
        }
    }

    .feed {
        &__title {
            font-size: 30px;
        }
        &__wrapper {
            grid-template-columns: repeat(1,minmax(100px,520px));
            grid-template-rows: repeat(4,minmax(100px,310px));
        }
    }

    .partners {
        &__title {
            font-size: 30px;
        }
        &__icon {
            left: 6%;
        }
    }

    .footer {
        margin-top: 70px;
        &-top {
            align-items: center;
            flex-direction: column;
        }
        &-down {
            flex-direction: column;
            margin-top: 40px;
            align-items: center;
        }
        &__btn {
            padding: 13px 1px;
            font-size: 12px;
        }
        &__nav {
            margin-top: 23px;
        }
        &__phone {
            margin-top: 21px;
        }
        &__sosial {
            display: flex;
        }
    }

    .button {
        &__subtitle {
            display: block;
            margin: 37px auto 0;
            width: 250px;
            height: 70px;
            font-size: 16px;
        }
    }
}