.mobile-service {
    min-height: 483px;
    padding: 128px 0 107px 0;
    background: url("../img/mobile_bg.jpg") center (center/cover) no-repeat;
    &__title {
        color: #17181C;
        font-weight: 800;
        font-size: 45px;
        line-height: 55px;
        text-align: center;
    }
    &__form {
       margin: 60px auto 0;
       width: 618px;
       input {
        width: 350px;
        height: 66px; 
        margin-right: 14px;
       }
    }
    &__placeholder {
        color: #17181C;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 8px;
    }
}